# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code config files
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.so

# Data files
*.csv
*.xlsx

# ignore specific data files
day29/household_power_consumption.txt
day30/household_power_consumption.txt

# PDF files - explicitly ignoring all Opal statements
*.pdf

# OS junk
.DS_Store
Thumbs.db

# Environment files
.env
.venv/
venv/
.venv

# personal analyses
day02/parkrun_data.ipynb
parkrun2_data.ipynb
parkrun_data_part2.ipynb
parkrun_all_results.ipynb
mysecretopal.ipynb
mysecretopal_part2.ipynb